.path-blocks-signinsheet div#page {
  background-color: #fff !important;
}

.path-blocks-signinsheet .titles {
  padding: 0 20px;
}

.path-blocks-signinsheet .borderless {
 width: 100%;
}
.path-blocks-signinsheet .borderless td {
  font-size: 10px;
  text-align: left !important;
  padding: 0 10px;
}

.path-blocks-signinsheet .borderless td:last-child {
  width: 10%;
}

.path-blocks-signinsheet p {
  margin: 0;
  padding: 0;
}

.path-blocks-signinsheet .disclaimer {
  font-size: 10px;
}

.path-blocks-signinsheet .center {
  text-align: center;
}

.path-blocks-signinsheet .rolltitle {
  font-size: 18px;
}

.path-blocks-signinsheet .rollcourse {
  font-size: 25px;
}

.path-blocks-signinsheet .rollgroup {
  font-size: 20px;
}

.path-blocks-signinsheet .printHeaderLogo {
  height: 30px;
}

.path-blocks-signinsheet table.roll {
  font-size: 11px;
  width: 99%;
  margin: 10px auto;;
  border: 1px solid #000000;
  background-color: #ffffff;
}

.path-blocks-signinsheet table.roll tr:nth-child(even) td {
  background-color: #dddddd;
}

.path-blocks-signinsheet table.roll td.rolldata-rb {
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.path-blocks-signinsheet .ten-percent {
  width: 10%;
}

.path-blocks-signinsheet .thirty {
  width: 30%;
}

.path-blocks-signinsheet p.center.disclaimer {
  page-break-after: always;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 10px;
}

.path-blocks-signinsheet div.floatright {
  width: 95%;
  margin: 0 10px 0 auto;
  padding-top: 5px;
  text-align: right;
  clear: both;
}
